* {
  box-sizing: border-box;
}
.title {
  color: #333333;
  font-family: Tahoma;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 70px;
}
.row {
  margin-top: 81px;
}
.img {
  display: flex;
  margin: auto;
}
.text {
  color: #333333;
  font-family: Tahoma;
  font-size: 16px;
  font-weight: 700;
  text-align: center; 
  line-height: 21px;
  margin: 21px auto;
}
