* {
  box-sizing: border-box;
}
.main-image {
  padding-left: 65px;
}
body {
  color: #32325f;
}
.subtitle {
  font-size: 20px;
  font-weight: 400;
}
.title {
  font-size: 48px;
  font-weight: 700;
}
.price {
  font-size: 48px;
  font-weight: 400;
}
.description {
  width: 516px;
  height: 56px;
  color: #32325f;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
.main {
  margin-top: 100px;
}
.hero {
  background-color: #f4f5f7;
  padding-top: 70px;
  padding-bottom: 190px;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-block {
  margin-top: 100px;
}
.footer {
  background-color: #32325f;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 70px;
}
.footer-wrap { 
  display: flex;
  justify-content: space-between;
}
.footer-block {
  font-family: "Helvetica Neue";
  width: 33%;
}
.footer-title {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 35px;
  
}
.footer a {
  font-family: sans-serif;
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.footer p {
  font-family: sans-serif;
  line-height: 1.4; 
}
.navbar {
  padding: 0;
}